.notification{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.notification__row{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    width: 100%;
    height: 300px;
    border-radius: 8px;
    border: 1px solid #333333;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 25px 2px rgba(51, 51, 51, 0.2);
    -moz-box-shadow: 0px 5px 25px 2px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 5px 25px 2px rgba(51, 51, 51, 0.2);
}
.notification_disabled{
    transform: scale(0);
}
.notification__img{
    width: 142px;
    height: 142px;
    margin-bottom: 24px;
}
.notification__title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #333333;
    margin-bottom: 24px;
}
.notification__text{
    padding: 0 12px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #4F4F4F;
}