.header{
    position: fixed;
    top: 0;
    z-index: 998;
    width: 100%;
    height: 102px;
    background-color: #FFFFFF;
    transition: all ease .2s;
}
.header__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header_scroll{
    height: 64px;
    color: #FFFFFF;
    background-color: #333333;
}
.header__burger{
    display: none;
    position: relative;
    width: 32px;
    height: 32px;
}
.header__burger:before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333333;
}
.header__burger span{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 2px;
    background: #333333;
}
.header__burger:after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333333;
}
.header__burger_scroll:before{
    background: #FFFFFF;
}
.header__burger_scroll span{
    background: #FFFFFF;
}
.header__burger_scroll:after{
    background: #FFFFFF;
}
@media screen and (max-width: 991px) {
   .header{
       height: 64px;
   }
}
@media screen and (max-width: 767px) {
    .header__burger{
        display: block;
    }
}

@media screen and (max-width: 479px) {

}