.footer_sub{
    position: relative;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_sub:before{
    content: '';
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: .1;
    background-color: #FFFFFF;
}

.footer_sub span{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: rgba(200, 200, 200, 0.5);
}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 767px) {
    .footer_sub{
        min-height: 48px;
    }
}
@media screen and (max-width: 479px) {

}